In [11]:
import pandas as pd

df = pd.Series([10, 13, 15])
print(df[0])
print(df.loc[1])
print(df.iloc[2])

10
13
15

In [26]:
data = {"Name":["Alice","bob","clara"], "Age":[20, 13, 10], "City":["London", "Hyd", "SG"]}
df1 = pd.DataFrame(data)
print(df1.iloc[0])
print(df1['City'])
print(df1.loc[1])
print(df1[df1['Age'] < 15])
print(df1[(df1['Age'] < 15) & (df1['City'] == 'Hyd')])

Name     Alice
Age         20
City    London
Name: 0, dtype: object
0    London
1       Hyd
2        SG
Name: City, dtype: object
Name    bob
Age      13
City    Hyd
Name: 1, dtype: object
    Name  Age City
1    bob   13  Hyd
2  clara   10   SG
  Name  Age City
1  bob   13  Hyd

In [30]:
import numpy as np
sorted = df1.sort_values('Age')
print(sorted)
df1['Score'] = [40, 25, 30]
df1['status'] = ['M', 'S', np.nan]
print(df1.loc[2])

    Name  Age    City  Score status
2  clara   10      SG     30    NaN
1    bob   13     Hyd     25      S
0  Alice   20  London     40      M
Name      clara
Age          10
City         SG
Score        30
status      NaN
Name: 2, dtype: object

In [39]:
data1 = {'Product':['tv', 'heater','fridge', 'ac', 'vc', 'heater' , 'ac'],
         'price': [50000, np.nan, 25000, 30000, np.nan, np.nan, 30000],
         'quantity': [10, np.nan, 5, 7, 2, np.nan, 3]}
df2 = pd.DataFrame(data1)
print(df2.fillna(0))
print(df2.fillna(df.mean(numeric_only=True)))
print(df2.dropna())
print(df2.drop_duplicates())
print(df2.drop_duplicates(subset = ['Product']))

  Product    price  quantity
0      tv  50000.0      10.0
1  heater      0.0       0.0
2  fridge  25000.0       5.0
3      ac  30000.0       7.0
4      vc      0.0       2.0
5  heater      0.0       0.0
6      ac  30000.0       3.0
  Product         price   quantity
0      tv  50000.000000  10.000000
1  heater     12.666667  12.666667
2  fridge  25000.000000   5.000000
3      ac  30000.000000   7.000000
4      vc     12.666667   2.000000
5  heater     12.666667  12.666667
6      ac  30000.000000   3.000000
  Product    price  quantity
0      tv  50000.0      10.0
2  fridge  25000.0       5.0
3      ac  30000.0       7.0
6      ac  30000.0       3.0
  Product    price  quantity
0      tv  50000.0      10.0
1  heater      NaN       NaN
2  fridge  25000.0       5.0
3      ac  30000.0       7.0
4      vc      NaN       2.0
6      ac  30000.0       3.0
  Product    price  quantity
0      tv  50000.0      10.0
1  heater      NaN       NaN
2  fridge  25000.0       5.0
3      ac  30000.0       7.0
4      vc      NaN       2.0

In [ ]:
import matplotlib.pyplot as plt

plt.bar()
plt.line()